# Environment Vars in Use
# $TZ : The timezone we run in. Format American/Chicago
# $DOCKERDIR : Usually the divtools/docker dir
# $DOCKERDATADIR: Usually the /opt dir
# $HOSTNAME: defined in .env

services:
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: $HOSTNAME
    network_mode: host # Ensures direct network access
    env_file:
      - $DOCKERDIR/.env        # default .env file for all systems, 
      - $DOCKERDIR/.env.host   # Host-level ENV vars, overrides .env        
    environment:
      - TZ=$TZ
      - PUID=0
      - PGID=0

    volumes:
      # Config
      - $DOCKERDATADIR/syncthing:/var/syncthing

      # Volume Mounts for Sharing: Host:Docker Container Path
      - $DOCKERDATADIR/divtools:/opt/divtools
      - /share/CACHEDEV1_DATA:/share/CACHEDEV1_DATA       # AVC Volume
      - /share/CACHEDEV3_DATA:/share/CACHEDEV3_DATA       # ADFHM Volume
      - $DOCKERDATADIR/dt_git_test:/opt/dt_git_test
    ports:
      - 8384:8384 # Web UI
      - 22000:22000/tcp # TCP file transfers
      - 22000:22000/udp # QUIC file transfers
      - 21027:21027/udp # Receive local discovery broadcasts
    restart: unless-stopped
