[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=man:syncthing(1)
After=network.target

[Service]
User=syncthing
AmbientCapabilities=CAP_NET_ADMIN CAP_CHOWN CAP_FOWNER
ExecStartPre=/bin/sh -c 'sysctl -w net.core.rmem_max=8388608'
ExecStartPre=/bin/sh -c 'sysctl -w net.core.wmem_max=8388608'
ExecStart=/usr/bin/syncthing -no-browser -logflags=0
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target