# Environment Vars in Use
# $TZ : The timezone we run in. Format American/Chicago
# $DOCKERDIR : Usually the divtools/docker dir
# $DOCKERDATADIR: Usually the /opt dir
### socket-proxy is broken, using direct

services:
  # Portainer - WebUI for Containers
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    restart: unless-stopped
    profiles: ["core", "all"]
    networks:
      - t3_proxy
      - socket_proxy
    #command: -H tcp://socket-proxy:2375
    ports:
      - "8000:8000/tcp" # Agent communication port
      - "9000:9000/tcp" # HTTP port for the web UI
      - "9443:9443/tcp" # HTTPS port for the web UI
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Access to the Docker socket
      - $DOCKERDATADIR/portainer:/data # Bind Mount location to persist data
    # env_file:
    #   - $DOCKERDIR/.env        # default .env file for all systems,
    #   - $DOCKERDIR/.env.host   # Host-level ENV vars, overrides .env
    environment:
      - TZ=$TZ
      - LOG_LEVEL=warn # Options: debug, info, warn, error, fatal
      - AGENT_SECRET=${PORTAINER_AGENT_SECRET:-} # Shared secret for agent authentication


    #healthcheck:
    #  test: ["CMD", "curl", "-f", "https://localhost:9443"]   # Health check to monitor container
    #  interval: 1m30s
    #  timeout: 10s
    #  retries: 3
    #  start_period: 30s
