# Ignore .env and .env.host files in the docker folder and subfolders
docker/**/*.env
docker/**/*.env.host
docker/secrets
docker/appdata/traefik3/acme
docker/appdata/dashy/dashboard-icons
docker/appdata/glances/common/glances.conf
*.sync-conflict*
.stfolder/
.stversions/
.stignore
docker/appdata/dashy/user-data/config-backups/conf-1738182867.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738182900.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738184321.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738184551.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738185140.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738185226.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738188340.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738188604.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738190560.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738372167.backup.yml
docker/appdata/dashy/user-data/config-backups/conf-1738372325.backup.yml
config/tmux/tmux.conf.out
*.swp
