# Ignore .env files in the docker folder and subfolders
docker/**/*.env
docker/secrets
docker/appdata/traefik3/acme
docker/appdata/dashy/dashboard-icons
docker/appdata/glances/common/glances.conf
*.sync-conflict*
.stfolder/
.stversions/
.stignore
