# Environment Vars in Use
# $TZ : The timezone we run in. Format American/Chicago
# $DOCKERDIR : Usually the divtools/docker dir
# $DOCKERDATADIR: Usually the /opt dir
# $HOSTNAME: defined in .env

services:
  influxdb:
    container_name: influxdb
    image: influxdb    
    restart: always
    ports:
      - 8086:8086
    #networks:
    volumes:
      - $DOCKERDATADIR/influxdb/data:/var/lib/influxdb2
      - $DOCKERDATADIR/influxdb/config:/etc/influxdb2
    user: "1400"
    env_file:
      - $DOCKERDIR/.env        # default .env file for all systems, 
      - $DOCKERDIR/.env.host   # Host-level ENV vars, overrides .env        
    environment:
      TZ: $TZ
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME_FILE: /run/secrets/influxdb2-admin-username
      DOCKER_INFLUXDB_INIT_PASSWORD_FILE: /run/secrets/influxdb2-admin-password
      #DOCKER_INFLUXDB_INIT_ADMIN_TOKEN_FILE: /run/secrets/influxdb2-admin-token
      DOCKER_INFLUXDB_INIT_ORG: avc
      DOCKER_INFLUXDB_INIT_BUCKET: proxmox  

    secrets:
      - influxdb2-admin-username
      - influxdb2-admin-password
      #- influxdb2-admin-token      