####
#### SHARED Cadvisor Service Definition
####
# Environment Vars in Use
# $TZ : The timezone we run in. Format American/Chicago
# $DOCKERDIR : Usually the divtools/docker dir
# $DOCKERDATADIR: Usually the /opt dir
# $DOCKER_SHAREDDIR: $DOCKERDIR/sites/s00-shared - set by dcrun_f() in .bash_aliases
# $DOCKER_SITEDIR: $DOCKERDIR/sites/$SITE_NAME - set by dcrun_f() in .bash_aliases
# $DOCKER_HOSTDIR: $DOCKER_SITEDIR/$HOSTNAME - set by dcrun_f() in .bash_aliases
# $HOSTNAME: set by dcrun_f() in .bash_aliases
# $CADVISOR_PORT: defined in .env.s00-shared, usually 8082
# Section Order: CIRPNVUE

---
services:
  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:v0.51.0
    restart: unless-stopped
    labels:
      - "divtools.group=monitoring"
    profiles: [shared]
    ports:
      - $CADVISOR_PORT:8080
    # env_file should NOT be necessary since I use dcrun_f() to load Env Vars
    #env_file:
    #  - $DOCKERDIR/.env # default .env file for all systems,
    #  #- $DOCKERDIR/.env.host   # Host-level ENV vars, overrides .env
    #  - $DOCKERDIR/secrets/env/.env.$HOSTNAME # This is INSTEAD of the soft-link since those can't work on SHARED /opt/divtools folders across systems
    volumes:
      - /:/rootfs:ro
      - /run:/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    privileged: true
