// Put your custom themes here.
// Don't forget to also put your theme name into the config
// E.g: appConfig: cssThemes: [ 'my-theme' ]

// Example theme:
// html[data-theme='my-theme'] {
//   --primary: #00CCB4;
//   --background: #141b33;
//   --background-darker: #060913;
// }

// For more info, see: https://github.com/Lissy93/dashy/blob/master/docs/theming.md


html[data-theme='nord-frost-tl'] {
    --primary: #D8DEE9;
    --background: #52513b;
    --background-darker: #2E3440;
    --item-background: #5e5e43;
    --item-background-hover: #5a5a50;

    .collapsable:nth-child(1n) {
        background: #babd9b;
    }

    .collapsable:nth-child(2n) {
        background: #d0c988;
    }

    .collapsable:nth-child(3n) {
        background: #beb76f;
    }

    .collapsable:nth-child(4n) {
        background: #ac9e5e;
    }

    /* Target items with a custom backgroundColor (your remote markers) */
    .item[style*="background"] {
        border: 3px solid #3fa5b9 !important;
        /* Red border - adjust color to match your palette */
        border-radius: 12px !important;
        box-shadow: 0 0 15px rgb(63, 165, 185) !important;
        /* Optional glow */
    }

    /* Optional: Ensure local items (no background) stay clean */
    .item:not([style*="background"]) {
        border: none !important;
        box-shadow: none !important;
    }
}

html[data-theme='nord-frost'] {

    /* Target items with a custom backgroundColor (your remote markers) */
    .item[style*="background"] {
        /* Red border - adjust color to match your palette */
        border: 3px solid #3fa5b9 !important;
        /* Optional glow */
        border-radius: 12px !important;
        box-shadow: 0 0 15px rgb(63, 165, 185) !important;
        //background-color: #6f7581 !important;
        background-color: #434b5e !important;
    }

    /* Optional: Ensure local items (no background) stay clean */
    .item:not([style*="background"]) {
        border: none !important;
        box-shadow: none !important;
    }
}