########################### ANAND'S ENVIRONMENT
# Here are my Docker Hosts:
# - Traefik (traefik) - Proxmox LXC with Ubuntu Server 22.04
# - DNS / AdBlock Server (pihole) - Proxmox LXC with Ubuntu Server 22.04

########################### THIS COMPOSE FILE
# - Portainer

# Environment Vars in Use
# $TZ : The timezone we run in. Format American/Chicago
# $DOCKERDIR : Usually the divtools/docker dir
# $DOCKERDATADIR: Usually the /opt dir
# $DOCKER_SHAREDDIR: $DOCKERDIR/sites/s00-shared - set by dcrun_f() in .bash_aliases
# $DOCKER_SITEDIR: $DOCKERDIR/sites/$SITE_NAME - set by dcrun_f() in .bash_aliases
# $DOCKER_HOSTDIR: $DOCKER_SITEDIR/$HOSTNAME - set by dcrun_f() in .bash_aliases
# $HOSTNAME: set by dcrun_f() in .bash_aliases
# $CADVISOR_PORT: defined in .env.s00-shared, usually 8082
# Section Order: CIRPNVUE

########################### NETWORKS
# You may customize the network subnets (192.168.x.0/24) below as you please.
# SOCKET_PROXY_NETWORK_BASE=192.168.201 - defined in .env
# SOCKET_PROXY_NETWORK_CIDR=24 - defined in .env
# T3_PROXY_NETWORK_BASE=192.168.201 - defined in .env
# T3_PROXY_NETWORK_CIDR=24 - defined in .env
networks:
  default:
    driver: bridge
  socket_proxy:
    name: socket_proxy
    external: true
    driver: bridge
    ipam:
      config:
        - subnet: ${SOCKET_PROXY_NETWORK_BASE}.0/${SOCKET_PROXY_NETWORK_CIDR}
  t3_proxy:
    name: t3_proxy
    driver: bridge
    ipam:
      config:
        - subnet: ${T3_PROXY_NETWORK_BASE}.0/${T3_PROXY_NETWORK_CIDR}
  n8n-network:
    driver: bridge

########################### SECRETS
secrets:
  basic_auth_credentials:
    file: $DOCKERDIR/secrets/basic_auth_credentials
  cf_dns_api_token_traefik3_divix_biz:
    file: $DOCKERDIR/secrets/cf_dns_api_token_traefik3_divix_biz
  n8n-admin-username:
    file: $DOCKERDIR/secrets/n8n-admin-username
  n8n-admin-password:
    file: $DOCKERDIR/secrets/n8n-admin-password
  n8n-postgres-db-password:
    file: $DOCKERDIR/secrets/n8n-postgres-db-password
  postgres-password:
    file: $DOCKERDIR/secrets/postgres-password
  pgadmin-default-email:
    file: $DOCKERDIR/secrets/pgadmin-default-email
  pgadmin-default--password:
    file: $DOCKERDIR/secrets/pgadmin-default-password

include:
  ########################### SERVICES
  # PREFIX tnapp01 = Home Server
  # HOSTNAME=core - defined in .env

  # CORE
  #- include/$HOSTNAME/portainer.yml
  #- include/$HOSTNAME/socket-proxy.yml   #SP+ Uncomment to enable Socket Proxy. Check files for #SP for details
  #- include/$HOSTNAME/netbird-client.yml
  #- include/$HOSTNAME/syncthing.yml

  # SHARED
  - $DOCKER_SHAREDDIR/cadvisor/dci-cadvisor.yml
  - $DOCKER_SHAREDDIR/glances/dci-glances.yml
  - $DOCKER_SHAREDDIR/node-exporter/dci-node-exporter.yml

  # MEDIA
  #- include/$HOSTNAME/plex.yml
  #- include/$HOSTNAME/immich.yml

  # APPS
  - $DOCKER_HOSTDIR/n8n/dci-n8n.yml
  ##- $DOCKER_HOSTDIR/plane/dci-plane.yml ## This is handled with the setup.sh script now
  - $DOCKER_HOSTDIR/pgadmin/dci-pgadmin.yml
  - $DOCKER_HOSTDIR/postgres/dci-postgres.yml
  - $DOCKER_HOSTDIR/moodle/dci-moodle.yml

  #- include/$HOSTNAME/traefik3_cli.yml  # Use CLI in docker-compose version of Traefik config
  #- include/$HOSTNAME/traefik3_config.yml  # Use Config File ./traefik.yml version of Traefik config
  #- include/$HOSTNAME/oauth.yml
  #- include/$HOSTNAME/authelia.yml
  #- include/$HOSTNAME/homepage.yml
  #- include/$HOSTNAME/dashy.yml
  #- include/$HOSTNAME/dockge.yml
  #- include/$HOSTNAME/cloudflare-ddns.yml
