global: 
  scrape_interval: 30s  
  evaluation_interval: 30s
  body_size_limit: 15MB
  #sample_limit: 1500
  #target_limit: 30
  #label_limit: 30
  #label_name_length_limit: 200
  #label_value_length_limit: 200
  # scrape_timeout is set to the global default (10s).

scrape_configs: 
  - job_name: "prometheus" 
    scrape_interval: 1m 
    static_configs: 
      - targets: ["localhost:9090"]

  - job_name: "node" 
    scrape_interval: 15s
    static_configs: 
      - targets: 
          - "192.168.9.104:9100"
        labels:
          instance: "monitor" 
      - targets: 
          - "192.168.9.85:9100"
        labels:
          instance: "FHMTN1" 
      - targets: 
          - "192.168.9.87:9100"
        labels:
          instance: "FHM4x8" 
      - targets: 
          - "192.168.9.103:9100"
        labels:
          instance: "traefik" 
      - targets: 
          - "192.168.9.111:9100"
        labels:
          instance: "pihole" 
      - targets: 
          - "192.168.9.141:9100"
        labels:
          instance: "ubuntu-22v2" 
      - targets: 
          - "192.168.9.201:9100"
        labels:
          instance: "zdc1" 
      - targets: 
          - "192.168.9.217:9100"
        labels:
          instance: "frigate" 
    metric_relabel_configs:
      # Add Friendly Labels for various disk storage entries
      # Instance Specific
      # FHMTN1
      - source_labels: [instance, mountpoint]
        regex: "FHMTN1;/share/CACHEDEV1_DATA"
        target_label: friendly_name
        replacement: "DataVol-AVCSHARE"
      - source_labels: [instance, mountpoint]
        regex: "FHMTN1;/share/CACHEDEV2_DATA"
        target_label: friendly_name
        replacement: "HybridMount1"
      - source_labels: [instance, mountpoint]
        regex: "FHMTN1;/share/CACHEDEV3_DATA"
        target_label: friendly_name
        replacement: "DataVol-ADFHM"

      # FHM4x8
      - source_labels: [instance, mountpoint]
        regex: "FHM4x8;/share/CACHEDEV1_DATA"
        target_label: friendly_name
        replacement: "DataVol1"

      # Non-Instance Specific / SHARED
      - source_labels: [mountpoint]
        regex: "/"
        target_label: friendly_name
        replacement: "root"
      - source_labels: [mountpoint]
        regex: "/opt"
        target_label: friendly_name
        replacement: "DIVTOOLS"

      # FALLBACK - Ensures ALL rows end up with a friendly_name of mountpoint value, if they don't match any of the above regex
      - source_labels: [mountpoint, friendly_name]
        regex: "(.+);$"  # Match mountpoint but an empty friendly_name
        target_label: friendly_name
        replacement: "$1"



  # cAdvisor Hosts
  - job_name: "cadvisor"
    scrape_interval: 10s
    static_configs: 
      - targets: 
          - "192.168.9.104:8082"
        labels:
          instance: "monitor" 
      - targets: 
          - "192.168.9.85:8082"
        labels:
          instance: "FHMTN1" 
      - targets: 
          - "192.168.9.87:8082"
        labels:
          instance: "FHM4x8" 
      - targets: 
          - "192.168.9.103:8082"
        labels:
          instance: "traefik" 
      - targets: 
          - "192.168.9.111:8082"
        labels:
          instance: "pihole" 
      - targets: 
          - "192.168.9.141:8082"
        labels:
          instance: "ubuntu-22v2" 
      - targets: 
          - "192.168.9.201:8082"
        labels:
          instance: "zdc1" 
      - targets: 
          - "192.168.9.217:8082"
        labels:
          instance: "frigate"


  # - job_name: "hvhost01" 
  #   scrape_interval: 5s 
  #   static_configs: 
  #   - targets: ["10.1.149.191:9182"]