####
#### SHARED Glances Service Definition
####
# Environment Vars in Use
# $TZ : The timezone we run in. Format American/Chicago
# $DOCKERDIR : Usually the divtools/docker dir
# $DOCKERDATADIR: Usually the /opt dir
# $DOCKER_SHAREDDIR: $DOCKERDIR/sites/s00-shared - set by dcrun_f() in .bash_aliases
# $DOCKER_SITEDIR: $DOCKERDIR/sites/$SITE_NAME - set by dcrun_f() in .bash_aliases
# $DOCKER_HOSTDIR: $DOCKER_SITEDIR/$HOSTNAME - set by dcrun_f() in .bash_aliases
# $HOSTNAME: set by dcrun_f() in .bash_aliases
# Section Order: CIRPNVEUE
#
# ENV - ADD TO EVER FILE
# To Add, from $DOCKERDIR dir
# ln -s secrets/.env.defaults .env
# ln -s secrets/.env.$HOSTNAME .env.host
# env_file:
#   - $DOCKERDIR/.env        # default .env file for all systems,
#   - $DOCKERDIR/.env.host   # Host-level ENV vars, overrides .env

services:
  glances:
    container_name: glances
    image: nicolargo/glances:latest
    restart: always
    pid: host
    network_mode: host # Ensures direct network access
    profiles: [shared]
    privileged: true # for access to host network stats
    # env_file should NOT be necessary since I use dcrun_f() to load Env Vars
    # env_file:
    #   - $DOCKERDIR/.env # default .env file for all systems
    #   #- $DOCKERDIR/.env.host   # Host-level ENV vars, overrides .env
    #   - $DOCKERDIR/secrets/env/.env.$HOSTNAME # This is INSTEAD of the soft-link since those can't work on SHARED /opt/divtools folders across systems
    environment:
      - "GLANCES_OPT=-w"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # V1 Location
      #- $DOCKERDIR/appdata/glances/common/glances.conf:/etc/glances/glances.conf
      # V2 Location - Absolute, using DOCKERDIR
      #- $DOCKERDIR/sites/s00-shared/glances/glances.conf:/etc/glances/glances.conf
      # V2 Location - Absolute, using SHARED dir
      - $DOCKER_SHAREDDIR/glances/glances.conf:/etc/glances/glances.conf
      #Uncomment the below line if you want glances to display host OS detail instead of container's
      - /etc/os-release:/etc/os-release:ro
    labels:
      - "divtools.group=monitoring"
      - "traefik.port=61208"
      - "traefik.frontend.rule=Host:glances.docker.localhost"
    # secrets:
    #   - source: glances_password
    #     target: /root/.config/glances/glances.pwd
# secrets:
#   glances_password:
#     file: $DOCKERDIR/secrets/glances_password
