## HOSTNAME: FRIGATE2 ##

# Global Settings

version: 0.16-1

# MQTT: Installed on Home Assistant Server (VM)
mqtt:
  host: 10.1.1.215 # Insert the IP address of your Home Assistant
  port: 1883 # Leave as default 1883 or change to match the port set in yout MQTT Broker configuration
  topic_prefix: frigate2 # Ensure this is differnet for each Frigate Server
  client_id: frigate2 # Ensure this is differnet for each Frigate Server
  user: mqtt_user # Change to match the username set in your MQTT Broker
  password: 0218-ha-mqtt # Change to match the password set in your MQTT Broker
  stats_interval: 60

ffmpeg:
  hwaccel_args:
    [-hwaccel, cuda, -hwaccel_output_format, cuda]
    #- -hwaccel
    #- cuda
  ##
  ##  - -hwaccel_output_format
  ##  - yuv420p
  ##  #- cuda
  ##  #- -c:v
  ##  #- h264_cuvid

  # Output all streams with audio in AAC format
  output_args:
    record: preset-record-generic-audio-aac
  # 5/2/2025: This causes invalid %z in the segment template filename
  # output_args:
  #   record: >
  #     -f segment -segment_time 60 -reset_timestamps 1
  #     -c:v libx264 -preset veryfast -an
  # Try this: - still fails
  # output_args:
  #   record: >
  #     -f segment -segment_time 60 -reset_timestamps 1 -c:v copy -an
  # Try this, this adds the audio to the ffmpeg output.

# Coral TPU
#detectors:
#coral:
#  type: edgetpu
#  device: usb

# tensorrt:
#   type: tensorrt
#   device: 0

model:
  input_tensor: nchw
  input_pixel_format: rgb
  width: 320
  height: 320

record:
  enabled: true
  retain:
    days: 7
    mode: motion
  alerts:
    pre_capture: 10
    post_capture: 10
    retain:
      days: 30
      mode: motion

snapshots:
  enabled: true
  retain:
    default: 30

logger:
  default: info # info | debug | warning | error | critical
  logs:
    frigate.ffmpeg: debug # info | debug | warning | error | critical
    frigate.mqtt: debug
    #frigate.video: debug
    #frigate.detector: debug

# Global settings (apply to all cameras unless overridden)
birdseye:
  enabled: true
  mode: objects # Only show detected objects in Birdseye view

audio:
  enabled: true

objects:
  track:
    - person
    - car
    - dog
    - cat
  filters:
    person:
      min_score: 0.5 # Only track if confidence is 50% or higher
      threshold: 0.7 # Only create an event if confidence reaches 70%
    car:
      min_score: 0.4
      threshold: 0.6
    dog:
      min_score: 0.4
      threshold: 0.6
    cat:
      min_score: 0.4
      threshold: 0.6

# motion:
#   threshold: 30  # Increase to reduce false positives (default ~25)
#   contour_area: 100  # Minimum area for motion to be detected
#   frame_alpha: 0.2  # Adjusts blending of frames for motion detection
#   mask:
#     - 1920,1080,0,1080,0,800,1920,800  # Example: Masking out a top region

go2rtc:
  api:
    listen: :1984

  mod:
    rtsp:
      mode: none
      session: tcp

  streams:
    # P13_Ank_Test | Annke C500 3K 5MP | 151DS, C500 | 151DS
    p13_ank_test_main:
      - rtsp://{FRIGATE_CAM_U}:{FRIGATE_CAM_P}@10.1.10.73:554/H264/ch1/main/av_stream
    p13_ank_test_detect:
      - rtsp://{FRIGATE_CAM_U}:{FRIGATE_CAM_P}@10.1.10.73:554/H264/ch1/sub/av_stream
    p13_ank_test_view:
      - rtsp://{FRIGATE_CAM_U}:{FRIGATE_CAM_P}@10.1.10.73:554/H264/ch1/sub/av_stream

    # P14_RLC811_Test | Reolink RLC-811WA, Reolink RLC-811WA
    p14_rlc811w_test_main:
      - rtsp://{FRIGATE_CAM_U}:{FRIGATE_CAM_P}@10.1.10.74:554/h264Preview_01_main
    p14_rlc811w_test_detect:
      - rtsp://{FRIGATE_CAM_U}:{FRIGATE_CAM_P}@10.1.10.74:554/h264Preview_01_sub
    p14_rlc811w_test_view:
      - rtsp://{FRIGATE_CAM_U}:{FRIGATE_CAM_P}@10.1.10.74:554/h264Preview_01_main

    # P19_VIkV_Test | VikVision 4K 8MP PTZ 18x OptZoom, PTZ-4818X-IS2
    p19_vikv_test_main:
      - ffmpeg:rtsp://{FRIGATE_CAM_U}:{FRIGATE_CAM_P}@10.1.10.79:554/stream0?analyzeduration=10000000&probesize=10000000
    p19_vikv_test_detect:
      - ffmpeg:rtsp://{FRIGATE_CAM_U}:{FRIGATE_CAM_P}@10.1.10.79:554/stream1?analyzeduration=10000000&probesize=10000000
    p19_vikv_test_view:
      - ffmpeg:rtsp://{FRIGATE_CAM_U}:{FRIGATE_CAM_P}@10.1.10.79:554/stream2?analyzeduration=10000000&probesize=10000000

### END NEW STREAMS

cameras:
  ### NEW CAMERAS ###

  P13_Ank_Test: # Annke C500 3K 5MP | 151DS, C500 | 151DS
    enabled: true
    ffmpeg:
      #hwaccel_args: []
      inputs:
        # Detect Stream
        - path: rtsp://localhost:8554/p13_ank_test_detect
          roles:
            - detect
        # Record Stream
        - path: rtsp://localhost:8554/p13_ank_test_main
          roles:
            - record
            - audio
    detect:
      width: 640
      height: 480
      fps: 5
    motion:
      mask: 0,0,1,0,1,0.08,0,0.085

  P14_RLC811_Test: # Reolink RLC-811WA, Reolink RLC-811WA
    enabled: true
    ffmpeg:
      hwaccel_args: []
      inputs:
        # Detect Stream
        - path: rtsp://localhost:8554/p14_rlc811w_test_detect
          roles:
            - detect
        # Record Stream
        - path: rtsp://localhost:8554/p14_rlc811w_test_main
          roles:
            - record
            - audio
    detect:
      width: 640
      height: 360
      fps: 5
    motion:
      mask: 0,0,1,0,1,0.08,0,0.079

  P19_VIkV_Test: # VikVision 4K 8MP PTZ 18x OptZoom, PTZ-4818X-IS2
    enabled: true
    ffmpeg:
      hwaccel_args: preset-nvidia-h264
      #hwaccel_args: []
      inputs:
        # Detect Stream
        - path: rtsp://localhost:8554/p19_vikv_test_detect
          roles:
            - detect
        # Record Stream
        - path: rtsp://localhost:8554/p19_vikv_test_main
          roles:
            - record
            - audio
      output_args:
        record: preset-record-generic
    detect:
      width: 720
      height: 480
      fps: 5
    motion:
      mask: 0,0,1,0,1,0.073,0,0.079

### END NEW CAMERAS ###

camera_groups:
  wifi:
    cameras:
      #- C03_RD2W_Deck_East
      #- C08_RLC811_Garage
      #- C09_RD2W_Driveway
      - P14_RLC811_Test
    order: 0
    icon: LuWifi
  reolink:
    cameras:
      #- C01_RD2_Deck_West
      #- P02_RD2_Test
      #- C03_RD2W_Deck_East
      #- C08_RLC811_Garage
      #- C09_RD2W_Driveway
      - P14_RLC811_Test
    order: 0
    icon: LuLink
