########################### ADF-DC-V2 ENVIRONMENT
# Here are my Docker Hosts:
# - Traefik (traefik) - Proxmox LXC with Ubuntu Server 22.04
# - DNS / AdBlock Server (pihole) - Proxmox LXC with Ubuntu Server 22.04

########################### THIS COMPOSE FILE
# - Portainer

# Environment Vars in Use
# $TZ : The timezone we run in. Format American/Chicago
# $DOCKERDIR : Usually the divtools/docker dir
# $DOCKERDATADIR: Usually the /opt dir
# $DOCKER_SHAREDDIR: $DOCKERDIR/sites/s00-shared - set by dcrun_f() in .bash_aliases
# $DOCKER_SITEDIR: $DOCKERDIR/sites/$SITE_NAME - set by dcrun_f() in .bash_aliases
# $DOCKER_HOSTDIR: $DOCKER_SITEDIR/$HOSTNAME - set by dcrun_f() in .bash_aliases
# $HOSTNAME: set by dcrun_f() in .bash_aliases
# $CADVISOR_PORT: defined in .env.s00-shared, usually 8082
# Section Order: CIRPNVUE

########################### NETWORKS
# You may customize the network subnets (192.168.x.0/24) below as you please.
# SOCKET_PROXY_NETWORK_BASE=192.168.201 - defined in .env
# SOCKET_PROXY_NETWORK_CIDR=24 - defined in .env
# T3_PROXY_NETWORK_BASE=192.168.201 - defined in .env
# T3_PROXY_NETWORK_CIDR=24 - defined in .env
networks:
  default:
    driver: bridge
  socket_proxy:
    name: socket_proxy
    driver: bridge
    ipam:
      config:
        - subnet: ${SOCKET_PROXY_NETWORK_BASE}.0/${SOCKET_PROXY_NETWORK_CIDR}
  t3_proxy:
    name: t3_proxy
    driver: bridge
    ipam:
      config:
        - subnet: ${T3_PROXY_NETWORK_BASE}.0/${T3_PROXY_NETWORK_CIDR}

########################### SECRETS
secrets:
  basic_auth_credentials:
    file: $DOCKERDIR/secrets/basic_auth_credentials
  cf_dns_api_token_traefik3_divix_biz:
    file: $DOCKERDIR/secrets/cf_dns_api_token_traefik3_divix_biz

include:
  ########################### SERVICES
  # PREFIX core = Home Server
  # HOSTNAME=edms - defined in .env

  # CORE
  #- include/$HOSTNAME/portainer.yml
  #- include/$HOSTNAME/socket-proxy.yml   #SP+ Uncomment to enable Socket Proxy. Check files for #SP for details
  #- include/$HOSTNAME/netbird-client.yml
  #- include/$HOSTNAME/syncthing.yml

  # SHARED
  - $DOCKER_SHAREDDIR/cadvisor/dci-cadvisor.yml
  - $DOCKER_SHAREDDIR/glances/dci-glances.yml
  - $DOCKER_SHAREDDIR/node-exporter/dci-node-exporter.yml

  # SERVER

  # >>> DT_ADS_SETUP AUTO-MANAGED - DO NOT EDIT MANUALLY <<<
  # Samba Active Directory Domain Controller
  - $DOCKER_HOSTDIR/samba/dci-samba.yml
  # <<< DT_ADS_SETUP AUTO-MANAGED <<<
